html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--fs-content);
  font-weight: 400;
  line-height: var(--lead-content);
  letter-spacing: var(--track-content);
  color: var(--clr-content);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  padding: 0;
  border: 0;
  font: inherit;
}

dl, dt, dd,
figure {
  margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}