.welcome {

  &__h1 {
    font-weight: 700;
  }

  &__h2 {
    font-weight: 500;
  }

  &__h3 {
    font-weight: 400;
  }

  &__content {
    font-weight: 400;
  }

  &__note {
    font-weight: 300;
  }
}