.cards {

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    margin-block-start: 2em;
  }
}


@media only screen and (min-width: 1200px) {
  .cards {
    
    &__container {
      grid-template-columns: repeat(auto-fit, minmax(300px, 390px));
    }
  }
}